body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ql-editor {
  min-height: 400px;
}

.ml-3 {
  margin-left: 1rem !important;
}

.nav-separator {
  border: 1px solid #e5e5e5;
}

.ace_editor {
  width: initial !important;
}

.test-case, h4, label, input {
  font-family: "Nunito", sans-serif;
}